{% extends 'admin/back_base.html' %}


{% block content %}

<table>
  <thead>
    <tr>
      <th class="border border-slate-300 p-2">Titre</th>
      <th class="border border-slate-300 p-2">Image</th>
      <th class="border border-slate-300 p-2">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for manganime in manganimes %}
    <tr>
      <td class="border border-slate-300 p-2">{{manganime["titre"]}}</td>
      <td class="border border-slate-300 p-2"><img src="{{manganime['url_image']}}" class="max-w-96 max-h-48"></td>
      <td class="border border-slate-300 p-2">{{manganime["description"]}}</td>
      <td class="border border-slate-300 p-2"><a href="/manganime/{{manganime['_id']}}">Voir</a></td>
      <td class="border border-slate-300 p-2"><a href="/modifier/{{manganime['_id']}}">Modifier</a></td>
      <td class="border border-slate-300 p-2"><a href="/supprimer/{{manganime['_id']}}">Supprimer</a></td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}