{% extends 'base.html' %}

{% block content %}
<p>test</p>

<section class="grid grid-cols-3 gap-14" id="animes" style="display: none">
 {% for anime in animes %}
  <div class="card">
    <a href="/manganime/anime/{{anime['_id']}}">
      <img src="{{anime['url_image']}}"/>
      <h2>{{anime["titre"]}}</h2>
    </a>
  </div>
  {% endfor %}
</section>

<section class="grid grid-cols-3 gap-14" id="mangas" style="display: none">
 {% for manga in mangas %}
  <div class="card">
    <a href="/manganime/anime/{{manga['_id']}}">
      <img src="{{manga['url_image']}}"/>
      <h2>{{manga["titre"]}}</h2>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}
