{% extends 'base.html' %}
{% block content %}
  {% if erreur %}
    <p><strong>Erreur:</strong> {{ erreur }} </p>
  {% endif %}
<div>
  <form method="POST" action="{{ url_for('login')}}">
    <div class="flex-wrap-reverse">
      <label> for="utilisateur">Utilisateur</label>
      <input type="text" placeholder="Nom de l'utilisateur">
    </div>
    <div>
      <label for="mot_de_passe">
        Mot de Passe
      </label>
      <input name="mot_de_passe" type="password" placeholder="Mot de passe">
    </div>
    <div>
      <button type="submit">
        Se Connecter
      </button>
    </div>
  </form>
</div>
{% endblock %} 