{% extends 'base.html' %}
{% block content %}
  {% if erreur %}
    <p><strong>Erreur:</strong> {{ erreur }} </p>
  {% endif %}
<div class="flex items-center justify-center pt-20">
  <form method="POST" action="{{ url_for('login')}}" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="utilisateur">Utilisateur</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="utilisateur" type="text" placeholder="Nom de l'utilisateur">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="mot_de_passe">
        Mot de Passe
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-violet-900 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="mot_de_passe" type="password" placeholder="Mot de passe">
    </div>
    <div class="flex items-center justify-between">
      <button class="text-slate-50  border-solid  bg-indigo-950  rounded-md border-indigo-950 border-4" type="submit">
        Se Connecter
      </button>
    </div>
  </form>
</div>
{% endblock %} 