{% extends 'base.html' %}

{% block content %}


<section>
  <div class=" flex justify-evenly my-4 ">
  <div class="card ">
    
      <img src="{{manganime['url_image']}}"/>
      <form method="POST">
        <input name="titre" type="text" value="{{manganime['titre']}}"></input>
        <input name="description" type="text" value="{{manganime['description']}}"></input>
      <button class="text-slate-50  border-solid  bg-indigo-950  rounded-md border-indigo-950 border-4" type="submit">
          Modifier
        </button>
      </form>
    
  </div>
  </div>
</section>

{% endblock %}
